[submodule "rtl/mor1kx"]
	path = rtl/mor1kx
	url = https://github.com/openrisc/mor1kx.git
[submodule "rtl/orpsoc-cores"]
	path = rtl/orpsoc-cores
	url = https://github.com/openrisc/orpsoc-cores
[submodule "misoc/kc705"]
	path = misoc/kc705
	url = https://github.com/Florent-Kermarrec/misoc-kc705
[submodule "src/barebox"]
	path = src/barebox
	url = git@github.com:bluecmd/barebox.git
